body {
  background-color: #0b0119;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}


body, html {
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
}
